/*
    Author: Johan Sylvan
*/

.cookie-container {
    max-width: 1170px;
    margin: 0 auto;
}
@media (max-width: 1200px) {
    .cookie-container {
        max-width: 970px;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .cookie-container {
        max-width: 750px;
        margin: 0 auto;
    }
}

#opacity_slider {
    width: 180px;
}

#opacity_slider_amount {
    width: 180px;
    color: #555 !important;
}

#message_size_slider {
    width: 180px;
}

#message_size_slider_amount {
    width: 180px;
    color: #555 !important;
}

#button_size_slider {
    width: 180px;
}

#button_size_slider_amount {
    width: 180px;
    color: #555 !important;
}

.container-cookies
{
    position: fixed;
    //transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 1000;
    display: none;
    height: auto;
    padding: 10px 0 10px 0;
}
.admin-bar .top-static{
    top: 32px;
}

.admin-bar .top-fixed{
    top: 32px;
}

.warning-text{
    font-size: 12px;
    margin: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.warning-text p{
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.warning-text a:link{
    text-decoration: underline;
}

.warning-text a:hover {
    text-decoration: none;
}

.button-container{
    //text-align: center;
    //float: right;
}

.default-cookie-button-style {
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    //font-weight: 400;
    line-height: 20px;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}

.default-cookie-button-style:hover {
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}