.custom-cookie-message-banner {
  width:           100%;
  position:        -webkit-sticky;
  position:        sticky;
  display:         flex;
  justify-content: center;
  align-items:     center;
  transform:       translateZ(0);
  will-change:     transform;
}
.custom-cookie-message-banner--bottom-fixed {
  bottom: 0;
}
.custom-cookie-message-banner--top-fixed {
  top: 0;
}
.custom-cookie-message-banner__button {
  margin: 0;
}
.custom-cookie-message-modal {
  position: absolute;
  top:      0;
  left:     0;
}
.custom-cookie-message-modal--off {
  display: none;
}
.custom-cookie-message-modal--on {
  display: block;
}
